In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/portland.csv')

In [3]:
df.info()
# columns 2, 11, and 12 have mixed types - change them all to be object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251093 entries, 0 to 251092
Data columns (total 25 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   address             241114 non-null  object
 1   city                241114 non-null  object
 2   state               241114 non-null  object
 3   zip_code            241114 non-null  float64
 4   zip_code_string     241114 non-null  float64
 5   county              251093 non-null  object
 6   neighborhood        240687 non-null  object
 7   property_id         251093 non-null  object
 8   state_id            251093 non-null  object
 9   parent_state_id     251068 non-null  object
 10  alt_account_number  244320 non-null  object
 11  owner               251055 non-null  object
 12  legal_description   251092 non-null  object
 13  square_feet         224994 non-null  float64
 14  market_value        245733 non-null  float64
 15  sale_date           251093 non-null  object
 16  sale_price          251093 non-null  int64
 17  year_built          224994 non-null  float64
 18  x_state_plane       251093 non-null  int64
 19  y_state_plane       251093 non-null  int64
 20  x_web_mercator      218362 non-null  float64
 21  y_web_mercator      218362 non-null  float64
 22  latitude            218362 non-null  float64
 23  longitude           218362 non-null  float64
 24  primary             251092 non-null  float64
dtypes: float64(10), int64(3), object(12)
memory usage: 47.9+ MB

In [4]:
#<ipython-input-1-4becc0fdf2b1>:4: DtypeWarning: Columns (2,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  #df = pd.read_csv('/content/portland.csv')

# columns 2, 11, and 12 have mixed types - change them all to be object

df[['city', 'owner', 'legal_description']] = df[['city', 'owner', 'legal_description']].astype('object')

In [5]:
# change sale date to datetime type

df['sale_date'] = pd.to_datetime(df['sale_date'])
df['year_built'] = pd.to_datetime(df['year_built'])

In [6]:
df.dtypes

address                       object
city                          object
state                         object
zip_code                     float64
zip_code_string              float64
county                        object
neighborhood                  object
property_id                   object
state_id                      object
parent_state_id               object
alt_account_number            object
owner                         object
legal_description             object
square_feet                  float64
market_value                 float64
sale_date             datetime64[ns]
sale_price                     int64
year_built            datetime64[ns]
x_state_plane                  int64
y_state_plane                  int64
x_web_mercator               float64
y_web_mercator               float64
latitude                     float64
longitude                    float64
primary                      float64
dtype: object

In [7]:
# drop rows with at least one null value
df.dropna(inplace = True)
df

,address,city,state,zip_code,zip_code_string,county,neighborhood,property_id,state_id,parent_state_id,...,sale_date,sale_price,year_built,x_state_plane,y_state_plane,x_web_mercator,y_web_mercator,latitude,longitude,primary
9979,009 SW RICHARDSON ST,PORTLAND,OR,97239.0,97239.0,Multnomah,SOUTH PORTLAND,R285389,1S1E15BB 7700,1S1E15BB 7700,...,2016-03-25,349000,1970-01-01 00:00:00.000001988,7643725,671331,-13656398.98,5698587.410,45.48744,-122.67752,0.0
9980,01 SW RICHARDSON ST,PORTLAND,OR,97239.0,97239.0,Multnomah,SOUTH PORTLAND,R285407,1S1E15BB 7900,1S1E15BB 7900,...,2021-06-30,518888,1970-01-01 00:00:00.000001988,7643668,671309,-13656423.46,5698577.164,45.48737,-122.67774,0.0
9981,010 SW BOUNDARY ST,PORTLAND,OR,97239.0,97239.0,Multnomah,SOUTH PORTLAND,R116824,1S1E15BC 4600,1S1E15BC 4600,...,1900-01-01,0,1970-01-01 00:00:00.000001983,7643681,670387,-13656407.03,5698175.938,45.48484,-122.67759,0.0
9982,010 SW CANBY ST,PORTLAND,OR,97219.0,97219.0,Multnomah,SOUTH BURLINGAME,R127397,1S1E22CB 600,1S1E22CB 600,...,2006-10-27,595000,1970-01-01 00:00:00.000001986,7643652,664293,-13656348.35,5695523.114,45.46813,-122.67706,0.0
9983,010 SW CUSTER ST,PORTLAND,OR,97219.0,97219.0,Multnomah,SOUTH PORTLAND,R167056,1S1E22BC 2200,1S1E22BC 2200,...,1993-07-01,155000,1970-01-01 00:00:00.000001948,7643643,664630,-13656356.19,5695669.671,45.46906,-122.67713,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251087,6016 N WILBUR AVE,PORTLAND,OR,97217.0,97217.0,Multnomah,ARBOR LODGE,R306507,1N1E16CA 19000,1N1E16CA 19000,...,1900-01-01,0,1970-01-01 00:00:00.000001907,7640479,700312,-13658148.90,5711174.586,45.56665,-122.69324,1.0
251088,6016 N WILLAMETTE BLVD,PORTLAND,OR,97203.0,97203.0,Multnomah,UNIVERSITY PARK,R175780,1N1E07CD 5900,1N1E07CD 5900,...,2010-02-26,297000,1970-01-01 00:00:00.000001944,7630069,704746,-13662725.39,5712983.354,45.57802,-122.73435,1.0
251089,6016 NE 42ND AVE,PORTLAND,OR,97218.0,97218.0,Multnomah,CULLY,R276598,1N2E18CB 4900,1N2E18CB 4900,...,1900-01-01,0,1970-01-01 00:00:00.000001954,7659200,699809,-13650008.48,5711173.220,45.56664,-122.62011,0.0
251090,6016 NE ALBERTA ST,PORTLAND,OR,97218.0,97218.0,Multnomah,CULLY,R205915,1N2E19AD 2700,1N2E19AD 2700,...,1900-01-01,0,1970-01-01 00:00:00.000001925,7664180,696843,-13647811.04,5709936.974,45.55887,-122.60037,1.0
251091,6016 NE DAVIS ST,PORTLAND,OR,97213.0,97213.0,Multnomah,NORTH TABOR,R230646,1N2E31DA 16200,1N2E31DA 16200,...,1900-01-01,0,1970-01-01 00:00:00.000001945,7663458,684117,-13647980.85,5704383.223,45.52392,-122.60190,1.0

In [8]:
# create a new dataframe that only shows information for primary residences
primary_residence = df[df['primary'] == 1]
primary_residence.head()

,address,city,state,zip_code,zip_code_string,county,neighborhood,property_id,state_id,parent_state_id,...,sale_date,sale_price,year_built,x_state_plane,y_state_plane,x_web_mercator,y_web_mercator,latitude,longitude,primary
11461,1 ABELARD,LAKE OSWEGO,OR,97035.0,97035.0,Multnomah,MOUNTAIN PARK,R222683,1S1E31DD 5500,1S1E31DD 5500,...,1900-01-01,0,1970-01-01 00:00:00.000001977,7631032,652204,-13661677.87,5690113.998,45.43405,-122.72494,1.0
11462,1 BOLIVAR,LAKE OSWEGO,OR,97035.0,97035.0,Multnomah,MOUNTAIN PARK,R222832,1S1E31DA 1500,1S1E31DA 1500,...,1900-01-01,0,1970-01-01 00:00:00.000001988,7631067,654211,-13661686.66,5690987.367,45.43955,-122.72502,1.0
11472,1 CREEKSIDE TER,LAKE OSWEGO,OR,97035.0,97035.0,Multnomah,MOUNTAIN PARK,R223122,1S1E31DC 3200,1S1E31DC 3200,...,2023-12-12,1040000,1970-01-01 00:00:00.000002000,7629336,652040,-13662411.11,5690022.320,45.43347,-122.73153,1.0
11473,1 EAGLE CREST DR,LAKE OSWEGO,OR,97035.0,97035.0,Multnomah,MOUNTAIN PARK,R223048,1S1E32DB 7200,1S1E32DB 7200,...,2021-07-07,610000,1970-01-01 00:00:00.000001981,7634961,653813,-13659993.75,5690860.748,45.43875,-122.70981,1.0
11475,1 HIDALGO,LAKE OSWEGO,OR,97035.0,97035.0,Multnomah,MOUNTAIN PARK,R222805,1S1E32CB 9400,1S1E32CB 9400,...,1900-01-01,0,1970-01-01 00:00:00.000001988,7632741,653189,-13660948.75,5690562.862,45.43688,-122.71839,1.0

In [12]:
# years with the most sales of primary residences - count
sales_by_year = primary_residence.groupby(primary_residence['sale_date'].dt.year)['property_id'].count().sort_values(ascending = False)
sales_by_year.head(10)

sale_date
1900    64435
2021     9360
2022     8110
2020     7347
2023     6172
2019     6054
2018     5398
2017     4810
2016     4520
2015     4219
Name: property_id, dtype: int64

In [14]:
sale_amount_by_year = primary_residence.groupby(df['sale_date'].dt.year)['sale_price'].sum().sort_values(ascending = False)
sale_amount_by_year.head()

sale_date
2021    7900656226
2023    6722444028
2022    6451200417
2019    5857577425
2018    5328062371
Name: sale_price, dtype: int64